<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>thoughtbot Middleman Template</title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
